.exercise {
	margin-top: 2rem;
	height: 80vh;
	display: grid;
	grid-template-columns: minmax(4rem, 15rem) 1fr;
}
.ex-container {
	max-width: 800px;
	margin: 0 auto;
}

/* ------ */
.ex-content h1 {
	font-weight: 700;
}
.ex-content {
	background-color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 2rem;
}

.search-input {
	background-color: #f0f4fb;
	border: 0;
	font-size: 1rem;
	padding: 0.6rem 2rem;
	border-radius: 15px;
	width: 260px;
}
.searchbar p {
	margin-left: auto;
	align-self: center;
}
.select-category {
	margin-bottom: 1rem;
}
/* sidebar Navlink active class */
.active {
	color: #05e4c1;
}

/* card */

.ex-card-container {
	display: flex;
	gap: 2rem;
	width: 100%;
	background-color: #f6f7f9;
	justify-content: center;
	padding-block: 2rem;
	border-radius: 1rem;
	margin-block: 2rem;
}
