.main-nav {
	--gap: 2rem;
	justify-content: space-between;
	font-size: var(--fs-nav);
	padding-top: 3rem;
}
.sign {
	margin-left: 2rem;
	padding: 10px 3rem;
	color: white;
	background-color: #096bff;
	border-radius: 40px;
}
