.navbar {
	width: 130px;
	background-color: white;
}
.navLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navLinks li:first-child {
	padding-block: 3rem 7rem;
}

.navLinks > * + * {
	margin-top: 1rem;
}
.navLinks a {
	display: inline-block;
	position: relative;
	padding: 0.8rem 1rem;
	border-radius: 10px;
}
.navLinks a img {
	width: 30px;
	filter: var(--bg-blue-svg);
}

.navLinks a span {
	display: none;
	position: absolute;
	color: white;
	background-color: var(--clr--primary-100);
	top: 50%;
	border-radius: 5px;
	padding: 0.6rem 0.8rem;
	transform: translate(4rem, -50%);
	z-index: 15;
	letter-spacing: 1px;
}
/* triangle facing left */
.navLinks a span::before {
	content: '';
	height: 0;
	width: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid var(--clr--primary-100);
	position: absolute;
	left: -6px;
	top: 50%;
	transform: translateY(-50%);
}

/* hover effects */
.navLinks a:hover span {
	display: block;
}
.navLinks a:hover,
a[class='active'] {
	background-color: var(--clr--primary-100);
}
.navLinks a:hover img,
a[class='active'] img {
	filter: var(--bg-white-svg);
}

/* menu button */

.menu {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	background-color: transparent;
	border: 0;
	font-size: 1.5rem;
}

@media (max-width: 1100px) {
	.navbar {
		position: absolute;
		transform: translateX(-150%);
		transition: transform 500ms ease-out;
	}
	.navbar[data-menuOpen='true'] {
		transform: translateX(0);
	}
	.menu {
		transform: translateX(250%);
	}
}
