.navbar {
	width: 160px;
	height: 100%;
	background-color: #fff;
	grid-column: 1 / 3;
	grid-row: 1;
	transition: width 250ms ease-in, border-radius 250ms ease-in;
}
.navLinks {
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	padding-left: 1.75rem;
}

.navLinks > * + * {
	margin-top: 1rem;
}
.navLinks a {
	display: inline-block;
	position: relative;
	padding: 1rem;
	border-radius: 10px;
}
.navLinks a img {
	width: 30px;
	filter: var(--bg-blue-svg);
}

.navLinks a:hover {
	background-color: var(--clr--primary-100);
}
.navLinks a:hover img {
	filter: var(--bg-white-svg);
}
.navbar[data-expanded='true'] .navLinks a span {
	position: absolute;
	top: 50%;
	transform: translate(3.3rem, -50%);
}

.navbar[data-expanded='false'] .navLinks a span {
	display: none;
	position: absolute;
	color: white;
	background-color: var(--clr--primary-100);
	padding: 0.6rem 0.8rem;
	border-radius: 5px;
	top: 50%;
	transform: translate(4rem, -50%);
	z-index: 15;
}
.navbar[data-expanded='false'] .navLinks a span::before {
	content: '';
	height: 0;
	width: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid var(--clr--primary-100);
	position: absolute;
	left: -6px;
	top: 50%;
	transform: translateY(-50%);
}

.navbar[data-expanded='false'] .navLinks a:hover span {
	display: block;
}

/* navbar expand */
.navbar[data-expanded='true'] {
	width: 200px;
	border-radius: 0 20px 20px 0;
	grid-column: 1/2;
}
