.mainContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.25rem;
	padding-block: 4.5rem;
}
.mainHeader {
	padding-inline: 2.5rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.mainHeader h1 {
	font-weight: 600;
	font-size: 1.75rem;
	letter-spacing: 0.8px;
	font-family: 'Montserrat', sans-serif;
}
.mainHeader p {
	font-weight: bold;
	font-size: 0.875rem;
	color: #86898d;
	align-self: end;
}
