.header {
	padding-block: 3rem 2rem;
	display: flex;
	justify-content: end;
	align-items: center;
}
.header img {
	margin-left: 1rem;
	width: 35px;
	aspect-ratio: 1;
}
.header p {
	color: #191d23;
	opacity: 0.9;
	font-weight: 500;
}
