.details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'title title'
		'category muscles'
		'illust desc'
		'images variatons';
	padding: 2rem 2rem 0;
	height: 95%;
	align-content: space-around;
}

.details h1 {
	grid-area: title;
	font-weight: 700;
	font-size: 1.75rem;
	letter-spacing: 0.8px;
	font-family: 'Montserrat', sans-serif;
}
.muscles p,
.category p,
.variatons p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.25rem;
}
.category {
	grid-area: category;
}
.muscles {
	grid-area: muscles;
}
.illust {
	grid-area: illust;
	align-self: center;
	justify-self: start;
}
.illust img {
	width: 100%;
}
.desc {
	grid-area: desc;
}
.desc h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.35rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid var(--clr--primary-100);
	width: min-content;
}
.desc p {
	margin-top: 1rem;
}
.images {
	grid-area: images;
	display: flex;
	padding: 1rem;
}
.images img {
	max-height: 240px;
}
.variatons {
	grid-area: variatons;
}
.variatons ul {
	margin-top: 1.5rem;
}
.variatons li {
	position: relative;
	padding-left: 1rem;
	margin-left: 3rem;
}
/* list-style circle */
.variatons li::before {
	position: absolute;
	content: '';
	width: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--clr--primary-100);
	left: -1rem;
	top: 50%;
	transform: translateY(-50%);
}
@media (min-width: 950px) {
	.images {
		gap: 2rem;
	}
}
@media (max-width: 700px) {
	.details > * {
		margin-bottom: 2rem;
	}
	.details {
		grid-template-areas:
			'title title'
			'category muscles'
			'illust illust'
			'desc desc'
			'images images'
			'variatons variatons';
	}
	.illust {
		justify-self: center;
		padding: 2rem;
	}
	.images {
		justify-content: space-around;
	}
}
