*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	--clr--primary-100: #6e41e2;

	--bg-blue-svg: invert(32%) sepia(25%) saturate(4163%) hue-rotate(219deg)
		brightness(110%) contrast(90%);
	--bg-white-svg: brightness(0) saturate(100%) invert(100%) sepia(6%)
		saturate(7485%) hue-rotate(292deg) brightness(121%) contrast(99%);
}

html {
	font-size: 16px;
	line-height: 1.6;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
	margin: 0;
	font-weight: 400;
}

img,
picture {
	max-width: 100%;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}
input,
textarea {
	margin: 0;
	padding: 0;
}

.App {
	display: grid;
	height: 100vh;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	grid-template-columns: min-content 40px 1fr;
	background-color: #f0f3f8;
}
