@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	--clr--primary-100: #6e41e2;

	--bg-main-100: #f0f3f8;
	--bg-blue-svg: brightness(0) saturate(100%) invert(27%) sepia(56%)
		saturate(5276%) hue-rotate(249deg) brightness(92%) contrast(92%);
	--bg-white-svg: brightness(0) saturate(100%) invert(100%) sepia(6%)
		saturate(7485%) hue-rotate(292deg) brightness(121%) contrast(99%);
}

html {
	font-size: 16px;
	line-height: 1.6;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
	margin: 0;
	font-weight: 400;
}

img,
picture {
	max-width: 100%;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}
input,
textarea {
	margin: 0;
	padding: 0;
}

.App {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
