.title {
	display: block;
	padding: 0.5rem 0;
	width: min-content;
	border-bottom: 2px solid var(--clr--primary-100);
	margin-bottom: 1rem;
}
.selector {
	width: 100%;
	border: 0;
	cursor: pointer;
	line-height: 150%;
	padding: 0.5rem 1rem;
	letter-spacing: 0.5px;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
		0px 4px 16px rgba(51, 51, 51, 0.08);
	font-size: 1rem;
}
.selector:hover {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
		0px 4px 24px rgba(51, 51, 51, 0.24);
}
