/* typography */
.dest-title span {
	color: rgba(var(--clr-text-white), 0.25);
	font-weight: 700;
	margin-right: 1.75rem;
}

.dest-name {
	font-family: var(--ff-belle);
	text-transform: uppercase;
	color: rgb(var(--clr-text-white));
	font-size: var(--fs-800);
}
.dest-info p:nth-child(1) {
	font-family: var(--ff-bar-con);
	font-size: 14px;
	letter-spacing: 2.36px;
	text-transform: uppercase;
}
.dest-info p:nth-child(2) {
	font-family: var(--ff-belle);
	font-size: 28px;
	text-transform: uppercase;
	color: rgb(var(--clr-text-white));
	margin-top: 0.2em;
}
.dest-footer {
	border-top: 1px solid #383b4b;
	padding-top: 28px;
	margin-top: 54px;
}
/* grid */
.des-container {
	display: grid;
	text-align: center;
	place-items: center;
	padding-inline: 1rem;
}
@media (min-width: 800px) {
	.des-container {
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0px, 40rem)) minmax(
				2rem,
				1fr
			);
		gap: 0 2rem;
		place-content: center;

		text-align: left;
		align-items: end;
	}
	.des-container > *:first-child {
		grid-column: 2;
	}
	.des-container > *:last-child {
		grid-column: 3;
		justify-self: end;
	}
	.dest-title {
		justify-self: start;
	}
}
section {
	background-image: url(/public/assets/destination/background-destination-desktop.jpg);
	background-size: cover;
}

/* site button navigation */
.dest-nav > * {
	font-family: var(--ff-bar-con);
	font-size: var(--fs-400);
	color: rgb(var(--clr-text-blue));
	letter-spacing: 2.7px;
	text-transform: uppercase;
	cursor: pointer;
	padding: var(--underline-gap, 1em) 0;
	border: 0;
	background-color: transparent;
	border-bottom: 0.2rem solid rgba(var(--clr-text-white), 0);
}
.dest-nav > *:not(:last-child) {
	margin-right: 2.1875rem;
}
.dest-nav > *:hover,
.dest-nav > *:focus {
	border-color: rgba(var(--clr-text-white), 0.5);
}

.dest-image {
	max-width: 445px;
	aspect-ratio: 1;
}
.destination-right {
	max-width: 450px;
}
