.selector {
	display: flex;
	padding: 2px;
	margin-top: 7rem;
	border-radius: 8px;
	margin-bottom: 4rem;
	background-color: #e0e0e0;
}
.selector input {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.selector > * {
	flex-basis: 100%;
	text-align: center;
}
.selector label {
	display: inline-block;
	padding-block: 0.5rem;
	width: 100%;
	border-radius: 7px;
	color: #212121;
}
.selector label:hover {
	color: var(--clr--primary-100);
	background-color: #eeecec;
}
.selector :checked + label {
	background-color: white;
	color: var(--clr--primary-100);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
